.my-gallery-wrapper {
  /* nothing for now... */
}

$gallery-height: 350px;
$gallery-padding: 10px;
$gallery-top-margin: 10px;

.controls-header {
  position: relative;
  min-height: 40px;
  input[type='text'] {
    width: 35%;
    display: inline;
    color: $primary-blue;
  }
  .controls-header-buttons {
    position: absolute;
    right: 0;
    top: 0;
    li > a {
      color: $primary-blue;
      font-weight: bold;
    }
  }
}

.images-gallery {
  width: 100%;
  height: $gallery-height;
  background-color: #DFEBF6;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: $gallery-top-margin;
  @include bow-shadow;
}

.gallery-pagination-panel {
  text-align: center;
}

.images-carousel-container {
  @include bow-shadow;
  margin-top: $gallery-top-margin;
  background-color: #DFEBF6;
  .images-carousel {
    img {
      padding: $gallery-padding;
    }
  }
}
