.my-gallery-wrapper {
  /* nothing for now... */
}

$gallery-height: 350px;
$gallery-padding: 10px;
$gallery-margin: 0 10px 0 10px;

.controls-header {
  position: relative;
  min-height: 40px;
  input[type='text'] {
    width: 35%;
    display: inline;
  }
  .controls-header-buttons {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.images-gallery {
  width: 100%;
  height: $gallery-height;
  background-color: lightblue;
  overflow-y: auto;
  overflow-x: hidden;
  margin: $gallery-margin;
  padding: $gallery-padding;
}

.gallery-pagination-panel {
  text-align: center;
}

.images-carousel-container {
  .images-carousel {
    img {
      padding: $gallery-padding;
      margin: $gallery-margin;
    }
  }
}
