<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my-gallery demo</title>
    <!-- my-gallery module style -->
    <link rel="stylesheet" href="../dist/styles/main.css">
    <link rel="stylesheet" href="../dist/styles/vendor.css">
</head>
<body ng-app="demoApp">

<div ng-controller="demoCtrl as vm">

    <div class="container">

        <header>
            <h1>my-gallery</h1>
            <!--<p class="lead">-->
            <!--<img src="images/ironsource.png"><br>-->
            <!--</p>-->
        </header>

        <h3>configuration</h3>

        <ul>
            <li>
                <label>
                    <input type="checkbox"
                           ng-model="enableSearch"> enable search
                </label>
            </li>
            <li>
                <label>
                    <input type="checkbox"
                           ng-model="enablePagination"> enable pagination
                </label>
            </li>
            <li>
                <label>
                    <input type="number"
                           min="1"
                           ng-model="pageSize"> page-size
                </label>
            </li>
        </ul>

        <my-gallery
                feed="vm.images"
                search="enableSearch"
                gallery-pagination="enablePagination"
                results-per-page="pageSize">
        </my-gallery>

    </div>

    <div class="footer">
        <div class="container">
            <p>
                <span class="glyphicon glyphicon-user"></span>
                done by <a href="http://linkedin.com/pub/tom-peres/38/766/a2">tom.peres</a>
            </p>
        </div>
    </div>

</div>


<!-- my-gallery module code -->
<script src="../dist/scripts/vendor.js"></script>
<script src="../dist/scripts/scripts.js"></script>
<!--demo page style-->
<script src="scripts/demo.mdl.js"></script>
</body>
</html>