<div>

    <header class="controlls-header">
        <search-input
                ng-if="vm.search"
                input="vm.searchText">
        </search-input>
        <drop-down
                ng-if="vm.galleryPagination"
                label="Page Items #"
                options="vm.itemsSelection"
                callback="vm.setResultsPerPage(selection)" >
        </drop-down>
        <drop-down
                ng-if="vm.sorting"
                label="Sort By"
                options="vm.sortBySelection"
                callback="vm.sortBy(selection)" >
        </drop-down>
    </header>

    <div class="images-gallery">
        <image-item ng-repeat="img in vm.feed
                                | filter:{title : vm.searchText}
                                | orderBy:vm.sortImages
                                | paginator:vm.currentPage:vm.resultsPerPage:vm.galleryPagination "
                    src="img.url"
                    title="img.title"
                    ng-click="vm.openModel(img)"
                    class="clickable-image">
        </image-item>
    </div>

    <footer class="controlls-footer">
        <uib-pagination
                ng-init="vm.currentPage = 1"
                ng-if="vm.galleryPagination"
                total-items="vm.feed.length"
                ng-model="vm.currentPage"
                items-per-page="vm.resultsPerPage"
                previous-text="Prev">
        </uib-pagination>
    </footer>

</div>