<div>

    <header class="controls-header">
        <search-input
                ng-if="vm.search"
                input="vm.searchText">
        </search-input>
        <div class="controls-header-buttons">
            <drop-down
                    ng-if="vm.galleryPagination"
                    label="Page Items #"
                    options="vm.const.SELECT_OPTIONS.PAGE_ITEM"
                    callback="vm.setResultsPerPage(selection)" >
            </drop-down>
            <drop-down
                    ng-if="vm.sorting"
                    label="Sort By"
                    options="vm.const.SELECT_OPTIONS.SORT_BY"
                    callback="vm.setSortOption(selection)" >
            </drop-down>
            <button class="btn btn-primary"
                    ng-click="vm.clearDeleted()">Clear Blacklist
            </button>
        </div>
    </header>

    <div class="images-gallery">
        <image-item ng-repeat="img in vm.paginatedGallery"
                    image="img"
                    on-image-click="vm.openModel(img)"
                    on-image-remove="vm.removeImage(img)">
        </image-item>
    </div>

    <images-carousel
            images="vm.paginatedGallery"
            auto-rotate-interval-sec="vm.autoRotateTime" >
    </images-carousel>

    <footer class="controlls-footer">
        <gallery-pagination
                ng-if="vm.galleryPagination"
                total-items="vm.entireGallery.length"
                current-page="vm.currentPage"
                page-size="vm.resultsPerPage" >
        </gallery-pagination>
    </footer>

</div>