<div>

    <header class="controlls-header">
        <search-input
                ng-if="vm.search"
                input="vm.searchText">
        </search-input>
        <drop-down
                ng-if="vm.galleryPagination"
                label="Page Items #"
                options="vm.const.SELECT_OPTIONS.PAGE_ITEM"
                callback="vm.setResultsPerPage(selection)" >
        </drop-down>
        <drop-down
                ng-if="vm.sorting"
                label="Sort By"
                options="vm.const.SELECT_OPTIONS.SORT_BY"
                callback="vm.setSortOption(selection)" >
        </drop-down>
        <button class="btn btn-primary"
                ng-click="vm.clearDeleted()">Clear Blacklist
        </button>
    </header>

    <div class="images-gallery">
        <image-item ng-repeat="img in vm.paginatedGallery"
                    image="img"
                    on-image-click="vm.openModel(img)"
                    on-image-remove="vm.removeImage(img)">
        </image-item>
    </div>

    <images-carousel
            images="vm.paginatedGallery"
            auto-rotate-interval-sec="vm.autoRotateTime" >
    </images-carousel>

    <!--<div style="height: 305px">-->
        <!--<uib-carousel interval="1000" >-->
            <!--<uib-slide ng-repeat="img in vm.paginatedGallery">-->
                <!--<img ng-src="{{img.url}}" style="margin:auto; height: 300px; width: 300px">-->
                <!--<div class="carousel-caption">-->
                    <!--<h4>{{img.title}}</h4>-->
                    <!--<p>Uploaded: {{img.date | date:'dd-mm-yyyy'}}</p>-->
                <!--</div>-->
            <!--</uib-slide>-->
        <!--</uib-carousel>-->
    <!--</div>-->

    <footer class="controlls-footer">
        <uib-pagination
                ng-if="vm.galleryPagination"
                total-items="vm.entireGallery.length"
                ng-model="vm.currentPage"
                items-per-page="vm.resultsPerPage"
                previous-text="Prev"
                max-size="10"
                class="pagination-sm"
                boundary-links="true">
        </uib-pagination>
    </footer>

</div>